.test {
    background-color: red;
    .test2 {
        color: aqua;
    }
}

$blue-one: #3500D3;
$blue-two: #0C0032;
$blue-three: #190061;
$blue-four: #240090;
$blue-five: #282828;
$blue-six: #45A29E;
$blue-seven: #66FCF1;
$blue-eight: #1F2833;
$blue-nine: #0B0C10;
$blue-ten: #25274D;
$blue-eleven: #464866;
$blue-twelve: #AAABB8;
$blue-thirteen: #2E9CCA;
$blue-fourteen: #29648A;

$lively-one: #E7717D;
$lively-two: #C2CAD0;
$lively-three: #C2B9B0;
$lively-four:#7E685A;
$lively-five:#AFD275;
$lively-six:#C5C6C7;

$red-one: #5D001E;
$red-two: #E3E2DF;
$red-three: #E3AFBC;
$red-four: #9A1750;
$red-five: #EE4C7C;

$artsy_one: #D79922;
$artsy_two: #EFE2BA;
$artsy_three: #F13C20;
$artsy_four: #4056A1;
$artsy_five: #C5CBE3;

$elegant_one: #EDC7B7;
$elegant_two: #EEE2DC;
$elegant_three: #BAB2B5;
$elegant_four: #123C69;
$elegant_five: #AC3B61;

$fan_one: #A64AC9;
$fan_two: #FCCD04;
$fan_three: #FFB48F;
$fan_four: #F5E6CC;
$fan_five: #17E9E0;

$vibrant_one: #F8E9A1;
$vibrant_two: #F76C6C;
$vibrant_three: #A8D0E6;
$vibrant_four: #374785;
$vibrant_five: #24305E;

$clean_one: #17252A;
$clean_two: #2B7A78;
$clean_three: #3AAFA9;
$clean_four: #DEF2F1;
$clean_five: #FEFFFF;
$clean-six: #5680E9;
$clean-seven: #84CEEB;
$clean-eight: #5AB9EA;
$clean-nine: #C1C8E4;
$clean-ten: #8860D0;

$warm_one: #EAE7DC;
$warm_two: #D8C3A5;
$warm_three: #8E8D8A;
$warm_four: #E98074;
$warm_five: #E85A4F;

$sharp_one: #D83F87;
$sharp_two: #2A1B3D;
$sharp_three: #44318D;
$sharp_four: #E98074;
$sharp_five: #A4B3B6;
