<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adonis FS v1</title>
</head>
<body>
  <script>
    window.app_name = '{{app_name()}}' ;
    window.app_url = '{{app_url()}}' ;
  </script>
    <div id="app"></div>
    {{ script(versionjs('main')) }}
</body>
</html>
